<div class="policylist-action-fold" banana-status="unfolded">
    <span class="bolder">모든 과제/전략 한눈에 보기</span>
</div>
<div class="policylist-categories">
    
</div>

<div id="policygroup">
    {{#this}}
    <div class="policy-container">
        <p class="policyname"><strong class="bolder">{{policyname}}</strong></p>
        {{#each strategies}}
        <div class="policy-strategycontainer" banana-status="unfolded">
            <div class="substrategyinfo">
                <p class="substrategyname"><strong class="bolder">{{strategyname}}</strong></p>
                <div class="substrategy-action-fold">
                    <p class="unfold">&#xf078;</p>
                    <p class="fold">&#xf077;</p>
                </div>
            </div>
            <div class="strategy">
                {{#each task}}
                <div class="task" banana-taskdata="{{toJSON keywords}}" banana-taskcategory="{{toJSON category}}">
                    <div class="taskinfo">
                        <p class="taskname"><strong class="bolder">{{name}}</strong></p>
                        <div class="departmentinfo">
                        {{#department}}
                            <p class="departmentname">{{this}}</p>
                        {{/department}}
                        </div>
                    </div>

                    <div class="taskstatus" banana-taskstatus="{{status}}">
                        <div class="taskstatusbar"></div>
                        <p>{{status}}%</p>
                    </div>

                    <ul class="descriptions">
                    {{#each description}}
                        <li class="description">
                            {{#if statuslink}}
                            <div class="description-action-link" banana-link="{{statuslink}}">
                                <p>&#xf0a9;</p>
                            </div>
                            {{/if}}
                            <p class="descriptiontext" banana-taskdesc="{{statusdesc}}">{{name}}</p>
                            <p class="descriptionstatus bolder" banana-taskcode="{{statuscode}}">{{status}}</p>
                        </li>
                    {{/each}}
                    </ul>
                </div>
                {{/each}}
            </div>
        </div>
        {{/each}}
    </div>
    {{/this}}
</div>